@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+Mono:wght@100..900&family=Oxygen+Mono&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*@import 'tailwindcss';*/
@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities';
/*@import 'tailwindcss/theme';*/

/*@reference 'tailwindcss';*/
/*@reference 'tailwindcss/preflight';*/
/*@reference 'tailwindcss/utilities';*/
@reference 'tailwindcss/theme';


@utility scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


@custom-variant dark (&:where(.dark, .dark *, [data-mode="dark"], [data-mode="dark"] *));

@layer components {

    .editor-container {

    }
}





